{% extends 'staticpages/base.html' %} {% block title %} {{ project.name }} ({{
    project.data_entrega }} {% endblock title %} {% block content %}
    <h2>Detalhes do Projeto {{ project.name }} ({{ project.data_entrega }})</h2>
    
    <section class="dados-de-projeto">
      <ul>
        <li>{{ project.name }}</li>
        <li>Data de entrega: {{ project.data_entrega }}</li>
        <li><a href="{% url 'projects:update' project.id %}">Editar Projeto</a></li>
        <li><a href="{% url 'projects:delete' project.id %}">Apagar Projeto</a></li>
        </ul>
    </section>
    
    {% endblock content %}