{% extends 'staticpages/base.html' %} {% block title %} {{ project.name }} ({{
    project.data_entrega }} {% endblock title %} {% block content %}
    <h2>Detalhes do Projeto {{ project.name }} ({{ project.data_entrega }})</h2>
    
    <section class="dados-de-projeto">
      <ul>
        <li>{{ project.name }}</li>
        <li>Data de entrega: {{ project.data_entrega }}</li>
        <li><a href="{% url 'projects:update' project.id %}"><button>Editar Projeto</button></a></li>
        <li><a href="{% url 'projects:delete' project.id %}"><button>Apagar Projeto</button></a></li>
        </ul>
    </section>

    <hr>

<section>
    <h3>Tarefas</h3>
    <ul>
        {% if project.tarefa_set.all %}
            {% for tarefa in project.tarefa_set.all %}
                <figure>
                    <blockquote>
                        <a href="{% url 'projects:update_tarefa' project_id=project.id tarefa_id=tarefa.id %}">{{ tarefa.name }} - {{ tarefa.descricao }} ({{ tarefa.concluida|yesno:"Tarefa Concluída,Tarefa Não Concluída" }})</a>
                    </blockquote>
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhuma tarefa para este projeto.</p>
        {% endif %}
    </ul>

  </ul>
    
  <hr>

  <a href="{% url 'projects:tarefa' project.pk %}"><button>Crie uma tarefa</button></a>
</section>
    
    {% endblock content %}