{% extends 'staticpages/base.html' %} {% block content %}
<h2>Todos os Projetos</h2>

<section>
    <p>
      <a href="{% url 'projects:create' %}">Adicionar Novo Projeto</a>
    </p>
  </section>

{% if project_list %}
<section class="lista-de-cards">
  {% for project in project_list %}
  <article class="card">
    <a href="{% url 'projects:detail' project.id %}">{{ project.name }}</a>
  </article>
  {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum projeto.</p>
{% endif %} {% endblock content %}